

body {
    background-color: #E7CBAC;
    font-family: sans-serif;
    color: #5C4323;
    text-align: center;
    margin: 0;
    padding: 0;
  }

  header{
    background-color: #a67648;
    color: white;
    padding: 20px 0;
  }

  footer{
    background-color: #AD815B;
    color: white;
    text-align: center;
    padding: 15px 0;
    margin-top: 50px;
    font-size: 14px;
  }
  
  /*a.site-title{
    font-size: 42px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    margin-bottom: 10px;
  }*/

  h1 a.site-title{
    display: inline-block;
    font-size: 42px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
  }

  .nav-menu{
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
  }

  .nav-menu a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }

  .nav-menu a:hover{
    text-decoration: underline;
  }
  
  .profile-box {
    background-color: #fff;
    width: 80%;
    max-width: 500px;
    margin: 50px auto;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
  
  /*h1 {
    color: #A67648;
    font-size: 36px;
    margin-bottom: 10px;
  }*/
  
  h2 {
    color: #A67648;
    font-size: 24px;
    margin-top: 30px;
  }
  
  p, li {
    font-size: 18px;
    line-height: 1.8;
  }
  
  img {
    border-radius: 50%;
    /*box-shadow: 0 0 20px rgba(0, 0  , 0, 0.5);*/
    width: 150px;
    max-width: 100%;
    height: auto;
    margin: 20px 0;
    transition:
      transform 0.3s cubic-bezier(.22,0,.66,3),
      box-shadow 0.5s ease;
  }

  img:hover{
    transform: scale(1.05) ;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    }
  
  ul {
    list-style-position: inside;
    list-style-type: decimal;
    padding-left: 0;
    display: inline-block;
    text-align: left;
  }
  
  a.mail-link{
    color: #5c4323;
    text-decoration: none;
    font-weight: bold;
  }

  a.mail-link:hover{
    text-decoration: underline;
    color: #a67648;
  }

  a.button {
    display: inline-block;
    background-color: #AD815B;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 15px;
    /*transition: transform 0.3s ease-out, background-color 0.3s ease;*/
    transition: transform 0.3s cubic-bezier(0.2,1.5,0.5,1);
  }
  
  a.button:hover {
    background-color: #A67648;
    transform: scale(1.08);
  }


  @media screen and (max-width:600px){
    h1{
      font-size:  32px;
    }

    h2{
      font-size: 22px;
    }

    p,li{
      font-size:  16px;
    }

    .profile-box{
      padding: 20px;
    }

    a.button{
      padding:8px 16px;
      font-size: 14px;
    }
  }



